# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
target/
*~

# ODL
yang-gen-code/
yang-gen-config/
*.log
bin/
dist/
logs/
*.MF

# Package Files #
*.jar
